/*

██████╗░░█████╗░██████╗░██╗░░██╗██████╗░██╗░░░░░██╗░░░██╗░██████╗  
██╔══██╗██╔══██╗██╔══██╗██║░██╔╝██╔══██╗██║░░░░░██║░░░██║██╔════╝  
██║░░██║███████║██████╔╝█████═╝░██████╔╝██║░░░░░██║░░░██║╚█████╗░  
██║░░██║██╔══██║██╔══██╗██╔═██╗░██╔═══╝░██║░░░░░██║░░░██║░╚═══██╗  
██████╔╝██║░░██║██║░░██║██║░╚██╗██║░░░░░███████╗╚██████╔╝██████╔╝  
╚═════╝░╚═╝░░╚═╝╚═╝░░╚═╝╚═╝░░╚═╝╚═╝░░░░░╚══════╝░╚═════╝░╚═════╝░  

██████╗░██╗░░░██╗
██╔══██╗╚██╗░██╔╝
██████╦╝░╚████╔╝░
██╔══██╗░░╚██╔╝░░
██████╦╝░░░██║░░░
╚═════╝░░░░╚═╝░░░

██╗░░██╗██████╗░███████╗███╗░░░███╗░█████╗░███╗░░██╗██╗████████╗
██║░██╔╝██╔══██╗██╔════╝████╗░████║██╔══██╗████╗░██║██║╚══██╔══╝
█████═╝░██████╔╝█████╗░░██╔████╔██║███████║██╔██╗██║██║░░░██║░░░
██╔═██╗░██╔══██╗██╔══╝░░██║╚██╔╝██║██╔══██║██║╚████║██║░░░██║░░░
██║░╚██╗██║░░██║███████╗██║░╚═╝░██║██║░░██║██║░╚███║██║░░░██║░░░
╚═╝░░╚═╝╚═╝░░╚═╝╚══════╝╚═╝░░░░░╚═╝╚═╝░░╚═╝╚═╝░░╚══╝╚═╝░░░╚═╝░░░                                                                    


*/

:root {
  --darkplus-bg: #212121;
  --darkplus-bg2: #302f2f;
  --darkplus-sec: #bb86fc;
  --darkplus-links: #cdaef3;
  --darkplus-home-icon: url(https://cdn.discordapp.com/attachments/468141324906921984/852117175212179466/discord-avatar-512-YV0PV.png);
}

.bg-1QIAus,
.container-2RRFHK {
  background-color: var(--darkplus-bg);
}
.bg-1QIAus {
  background-color: var(--darkplus-bg);
}
.scrollerInner-2PPAp2 {
  background-color: var(--darkplus-bg);
}
.container-ZMc96U.themed-Hp1KC_ {
  background: var(--darkplus-bg);
}
.content-2a4AW9 {
  background-color: var(--darkplus-bg);
}

.searchBar-3TnChZ {
  background-color: var(--darkplus-bg);
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
  background-color: var(--darkplus-bg2);
  border-radius: 20px;
}
.scroller-WSmht3.thin-31rlnD.scrollerBase-_bVAAt.fade-1R6FHN {
  background-color: var(--darkplus-bg);
}
.panel-2ZFCRb.activityPanel-9icbyU {
  background-color: var(--darkplus-bg);
}
.container-YkUktl {
  background-color: var(--darkplus-bg);
}
.form-3gdLxP {
  background-color: var(--darkplus-bg);
}
.form-3gdLxP .channelTextArea-1FufC0 .textArea-2CLwUE .placeholder-1_mJY1 {
  color: var(--darkplus-sec);
}
.form-3gdLxP .channelTextArea-1FufC0 .scrollableContainer-15eg7h {
  max-height: 45vh;
  background-color: var(--darkplus-bg2);
  border-radius: 22px;
}
.form-3gdLxP .channelTextArea-1FufC0 {
  background-color: transparent;
}
.form-3gdLxP:before {
  display: none;
}
.scroller-kQBbkU {
  background-color: var(--darkplus-bg);
}
.peopleList-2VBrVI.auto-2K3UW5.scrollerBase-_bVAAt {
  background-color: var(--darkplus-bg);
}
.children-3xh0VB:after {
  display: none;
}
.nowPlayingSidebar-2OFn0o {
  min-width: 300px;
  max-width: 300px;
}
.customStatusActivity-WKWGD- {
  background-color: var(--darkplus-bg);
}
.nameTagWithCustomStatus-5c-v3-.nameTag-2Nlmsy.nameTag-H6kSJ0 {
  background-color: var(--darkplus-bg);
}

.topSection-13QKHs {
  background-color: var(--darkplus-bg);
}
.container-1oAagU {
  background-color: var(--darkplus-bg);
}
.container-1oAagU .scroller-hE2gWq {
  margin-left: 0;
  border-left: none;
}

.wrapper-2RrXDg {
  background-color: var(--darkplus-sec);
  border: none;
}
.wrapper-2RrXDg:hover,
.wrapper-2RrXDg.active-1W_Gl9 {
  background-color: var(--darkplus-links) !important;
}
.wrapper-2RrXDg .inset-SbsSFp {
  background-color: var(--darkplus-bg);
}
.wrapper-2RrXDg .section-3G9aLW {
  background-color: var(--darkplus-links);
}
.header-3OsQeK {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.mention-3XBnnZ {
  background-color: var(--darkplus-sec);
}
.mentioned-Tre-dv {
  background-color: rgba(var(--darkplus-sec), 0.1) !important;
}
.mentioned-Tre-dv:before {
  background-color: var(--darkplus-sec);
}
.mentioned-Tre-dv:hover {
  background-color: rgba(var(--darkplus-sec), 0.2) !important;
}

.iconBadge-3Mmg92 {
  background-color: var(--darkplus-sec);
}
.container-YkUktl .button-12Fmur:nth-child(1) .contents-18-Yxp path {
  fill: var(--darkplus-sec);
}

.container-YkUktl .button-12Fmur:nth-child(2) .contents-18-Yxp path {
  fill: var(--darkplus-sec);
}

.container-YkUktl .button-12Fmur:nth-child(3) .contents-18-Yxp path {
  fill: var(--darkplus-sec);
}

.container-YkUktl .button-12Fmur:nth-child(4) .contents-18-Yxp path {
  fill: var(--darkplus-sec);
}
.sprite-2lxwfc {
  filter: hue-rotate(210deg) !important;
}
.attachButton-_ACFSu .contents-18-Yxp path {
  fill: var(--darkplus-sec);
}
.attachButton-_ACFSu:hover .attachButtonPlus-3IYelE {
  fill: var(--darkplus-links);
}
.button-38aScr .contents-18-Yxp path {
  color: var(--darkplus-sec);
}

.button-3bklZh path {
  fill: var(--darkplus-sec);
}

.item-1OdjEX path {
  fill: var(--darkplus-sec);
}

.iconWrapper-2awDjA path {
  color: var(--darkplus-sec);
}

.linkButtonIcon-7rsZcu path {
  color: var(--darkplus-sec);
}

.actionButton-3-B2x- path {
  color: var(--darkplus-sec);
}
.buttonIcon-2Zsrs2 path {
  fill: var(--darkplus-sec);
}

.icon-18rqoe path {
  fill: var(--darkplus-sec);
}

.actionIcon-2sw4Sl path {
  fill: var(--darkplus-sec);
}
.wrapper-NhbLHG.modeUnread-3Cxepe
  .content-1gYQeQ
  .mainContent-20q_Hp
  .icon-2W8DHg {
  color: var(--darkplus-links);
}
.wrapper-NhbLHG .content-1gYQeQ .mainContent-20q_Hp .icon-2W8DHg {
  color: var(--darkplus-sec);
}

.wrapper-NhbLHG.modeUnread-3Cxepe
  .content-1gYQeQ
  .mainContent-20q_Hp
  .channelName-3KPsGw {
  color: var(--darkplus-links);
}

.metadataIcon-3QMhu9 path {
  fill: var(--darkplus-sec);
}

.controlIcon-1grhw_ path {
  color: var(--darkplus-sec);
}

.data-slate-string path {
  color: var(--darkplus-sec);
}
.winButton-3UMjdg {
  color: var(--darkplus-sec);
}
.VoiceChatNotifications-button-icon {
  color: var(--darkplus-sec);
}
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
  background: var(--darkplus-sec);
  color: var(--darkplus-bg);
}
.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP),
.topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
  background: var(--darkplus-sec);
  color: var(--darkplus-bg);
}
.progressBar-1T6LYX,
.mediaBarWrapper-33h1oY .mediaBarGrabber-FvJKJg,
.mediaBarProgress-38I317,
.mediaBarProgress-38I317::after,
.mediaBarProgress-38I317::before {
  background-color: var(--darkplus-sec);
}
.mediaBarInteraction-tUE5dq:hover .mediaBarGrabber-FvJKJg {
  background-color: var(--darkplus-links);
}
.stageSection-3mAD8V {
  background-color: var(--darkplus-bg);
}

.featuredTag-3pT1Rf {
  background-color: var(--darkplus-bg2);
}
.colorHeaderPrimary-jN_yGr {
  color: var(--darkplus-sec);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
  background-color: var(--darkplus-bg2);
  color: var(--darkplus-sec);
}
.scroller-2XLwLg {
  background-color: var(--darkplus-bg);
}
.header-2EadGG {
  background-color: var(--darkplus-bg);
  border-bottom: none;
}
.headerCellContent-iBms3e {
  color: var(--darkplus-sec);
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
  background-color: var(--darkplus-bg2);
  color: var(--darkplus-sec);
}
.theme-dark .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover,
.theme-light .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover {
  background-color: var(--darkplus-sec);
  color: var(--darkplus-bg2);
}
.nameCellText-2i43C0 {
  color: var(--darkplus-sec);
}
.scroller-1TOeMq {
  background-color: var(--darkplus-bg);
}
.anchor-1MIwyf {
  color: var(--darkplus-sec);
}
.icon-18rqoe {
  height: 24px;
  width: 24px;
  color: var(--darkplus-sec);
}
.iconContainer-1RqWJj {
  bottom: 5px;
}
.search-39IXmY {
  margin-left: 0px;
}

.search-39IXmY {
  order: -1;
}
.searchBar-zdmu7v {
  width: 28px;
  transition: width 0.5s ease-in-out;
}
.focused-8aNhVB .searchBar-zdmu7v,
.open-3y3yI_ .searchBar-zdmu7v,
.searchBar-zdmu7v:hover {
  width: 150px;
}
.downloadButton-2HLFWN {
  color: var(--darkplus-sec);
}
.downloadButton-2HLFWN:hover {
  color: var(--darkplus-links);
}
.name-3Vmqxm {
  color: var(--darkplus-sec);
}
.title-17SveM {
  color: var(--darkplus-sec);
}
.children-283-lq {
  color: var(--darkplus-sec);
}
.headerText-1qIDDT {
  color: var(--darkplus-sec);
}
.clickable-ZD7xvu .icon-2xnN2Y {
  color: var(--darkplus-sec);
}
.clickable-ZD7xvu:hover .icon-2xnN2Y {
  color: var(--darkplus-links);
}
.item-3mHhwr.item-3XjbnG.themed-2-lozF {
  color: var(--darkplus-sec);
}

.homeIcon-r0w4ny path {
  fill: transparent;
}
.homeIcon-r0w4ny {
  background: var(--darkplus-home-icon) center/cover no-repeat;
  min-width: 50px;
  min-height: 50px;
}

.anchor-1MIwyf.anchorUnderlineOnHover-2qPutX {
  color: var(--darkplus-links);
}
.grid-1aWVsE {
  background-color: var(--darkplus-bg2);
}

.cozyMessage-1DWF9U .contents-2MsGLg > .markup-eYLPri:not(:empty) {
  background-color: var(--darkplus-bg2);
  display: inline-block;
  max-width: 650px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 8px;
  border-radius: 15px;
}

.avatar-2e8lTP.clickable-31pE3P {
  filter: drop-shadow(0 0 3px);
  color: var(--darkplus-sec);
}
.avatar-2e8lTP:hover.clickable-31pE3P:hover {
  filter: drop-shadow(0 0 8px);
  color: var(--darkplus-sec);
  transform: scale(1.2) rotate(360deg);
  transition: width 0.5s ease, height 0.5s ease, transform 0.5s ease;
}

.membersWrap-3NUR2t {
  min-width: unset;
}
.membersWrap-3NUR2t .members-3WRCEx {
  max-width: 65px;
  min-width: 65px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.membersWrap-3NUR2t .members-3WRCEx:hover {
  max-width: 240px;
  min-width: 240px;
}
.membersWrap-3NUR2t .members-3WRCEx .content-2a4AW9:not(:hover) {
  padding-top: 10px;
  background-color: var(--darkplus-bg);
}

.membersGroup-2eiWxl {
  margin-left: 60px;
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}

.members-3WRCEx,
.members-3WRCEx > div {
  background-color: var(--darkplus-bg);
}

.container-YkUktl {
  height: 85px;
}
.container-YkUktl .avatarWrapper-1B9FTW {
  position: absolute;
  bottom: 45px;
}
.container-YkUktl .nameTag-sc-gpq {
  position: absolute;
  bottom: 45px;
  left: 50px;
}
.container-YkUktl > .noWrap-hBpHBz {
  width: 224px;
  bottom: 5px;
  position: absolute;
}
.container-YkUktl > .noWrap-hBpHBz button {
  width: 100%;
  justify-content: space-evenly;
}

.layers-OrUESM .layer-86YKbF[style*="scale(0)"]:first-of-type,
.baseLayer-W6S8cY {
  transform: none !important;
}
.layers-OrUESM .layer-86YKbF:first-of-type[aria-hidden="true"] {
  transform: none !important;
  opacity: 1 !important;
  filter: brightness(0.25);
  pointer-events: none !important;
  transition: 100ms;
}

.sidebarRegionScroller-FXiQOh {
  background-color: var(--darkplus-bg);
}

.contentRegion-3HkfJJ {
  background-color: var(--darkplus-bg);
}
.contentRegion-3HkfJJ .contentRegionScroller-2_GT_N {
  background-color: transparent;
}

.background-3d_SjE {
  padding: 0;
  background-color: var(--darkplus-bg2);
  border-radius: 30px;
}
.background-3d_SjE .profile-1o7I_1 {
  padding: 16px;
}
.background-3d_SjE .fieldList-in8WkP {
  padding: 16px;
  background-color: transparent;
}
.background-3d_SjE .constrainedRow-3y91Xf .button-38aScr {
  margin-left: 8px;
}
.layer-86YKbF {
  background-color: var(--darkplus-bg);
}
.item-3XjbnG.themed-2-lozF {
  color: var(--darkplus-sec);
}
.header-2Kx1US {
  color: var(--darkplus-sec);
}
.theme-dark .foreground-2hyALB {
  fill: var(--darkplus-sec);
}
.theme-dark .bd-social-logo path {
  fill: var(--darkplus-sec);
}
.feature-2IUcBI {
  background-color: var(--darkplus-bg2) !important;
}
.theme-dark .closeButton-PCZcma {
  border-color: var(--darkplus-sec);
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
  color: var(--darkplus-bg);
  background-color: var(--darkplus-sec);
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
  background-color: var(--darkplus-links);
}
.defaultColor-2cKwKo {
  color: var(--darkplus-sec);
}
.menu-3A7xxX {
  margin-right: 16px;
  color: var(--darkplus-sec);
  cursor: pointer;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
  color: var(--darkplus-bg);
  background-color: var(--darkplus-sec);
}
.description-30xx7u,
.labelDescriptor-34wZ-z {
  color: var(--darkplus-links);
}
.h5-2RwDNl {
  color: var(--darkplus-sec);
}
.lookFilled-1Gx00P.colorRed-1TFJan {
  color: var(--darkplus-bg);
}
.lookLink-9FtZy-.colorLink-35jkBc {
  color: var(--darkplus-links);
}
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6 {
  color: var(--darkplus-sec);
}
.title-2dsDLn {
  color: var(--darkplus-sec);
}
.unread-36eUEm {
  background-color: var(--darkplus-sec);
}
.overflow-1wOqNV {
  color: var(--darkplus-links);
}
.arrow-2HswgU.icon-3zI3d2 {
  color: var(--darkplus-sec);
}
.jumpToPresentBar-1cEnH0 {
  background-color: var(--darkplus-sec);
  border-radius: 20px;
}
.barButtonBase-Sk2mdB {
  color: var(--darkplus-bg);
}
.numberBadge-37OJ3S {
  background-color: var(--darkplus-sec) !important;
  color: var(--darkplus-bg);
}
.item-2LIpTv {
  background-color: var(--darkplus-sec);
}
.container-1zzFcN {
  background-color: var(--darkplus-bg);
}
.button-1EGGcP.buttonColor-3bP3fX,
.button-1EGGcP .buttonColor-3bP3fX {
  background-color: var(--darkplus-bg2);
  color: var(--darkplus-sec);
}
.subtext-2HDqJ7 {
  color: var(--darkplus-links);
}
.addButtonIcon-3rJeaD {
  color: var(--darkplus-sec);
}
.addButtonIcon-3rJeaD:hover {
  color: var(--darkplus-links);
}
.header-S26rhB {
  background-color: var(--darkplus-bg);
}
.activity-2M3PRB {
  background-color: var(--darkplus-bg);
}
.infoScroller-1QMpon.thin-31rlnD.scrollerBase-_bVAAt.fade-1R6FHN {
  background-color: var(--darkplus-bg2);
}
.activityHeader-2shpl0 {
  color: var(--darkplus-sec);
}
.circleIconButton-1QV--U {
  color: var(--darkplus-sec);
  background-color: var(--darkplus-bg2);
}
.circleIconButton-1QV--U.selected-1JjBPm {
  color: var(--darkplus-bg2);
  background-color: var(--darkplus-sec);
}
.tabBar-2hXqzU {
  background-color: var(--darkplus-bg);
}
.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG,
.top-K_jibn .themed-2-lozF.item-3XjbnG:active {
  border-bottom-color: var(--darkplus-sec);
}
.top-K_jibn .themed-2-lozF.item-3XjbnG:hover {
  border-bottom-color: var(--darkplus-links);
}
.additionalActionsIcon-3Cy8UU {
  color: var(--darkplus-sec);
}
.colorDefault-CDqZdO.focused-3qFvc8 {
  background-color: var(--darkplus-bg2);
  color: var(--darkplus-sec);
}
.newMessagesBar-1hF-9G {
  background-color: var(--darkplus-sec);
}
.unreadPill-3nEWYM {
  background-color: var(--darkplus-sec);
}
#app-mount .divider-2rZFJK.isUnread-3Lojb- {
  border-top: 1px solid var(--darkplus-sec);
}
.unreadPillCapStroke-1nE1Q8 {
  color: var(--darkplus-sec);
  fill: var(--darkplus-sec);
}
.label-2gNW3x {
  color: var(--darkplus-sec);
}
#permissions-modal-wrapper #permissions-modal {
  height: 80%;
}
#permissions-modal-wrapper .modal-body .perm-side {
  width: 400px;
}
#permissions-modal-wrapper .perm-scroller .perm-item {
  height: unset;
}
#permissions-modal-wrapper .perm-scroller {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(auto-fill, calc(100% / 17));
}
#permissions-modal-wrapper .perm-scroller .perm-name {
  margin-left: 5px;
}
#permissions-modal-wrapper .perm-scroller svg {
  height: 20px !important;
  width: 20px !important;
}

#permissions-modal-wrapper .header {
  background: var(--darkplus-bg) !important;
}
#permissions-modal-wrapper .role-side {
  background: var(--darkplus-bg) !important;
}
#permissions-modal-wrapper .perm-side {
  background: var(--darkplus-bg) !important;
}
#permissions-modal-wrapper .perm-scroller .perm-name {
  color: var(--darkplus-sec);
}
.title {
  color: var(--darkplus-sec);
}
.editingContainer-1_nnqZ,
.modalContent-317Xyq {
  background-color: var(--darkplus-bg);
}
.header-1zd7se {
  background-color: var(--darkplus-bg);
}
.theme-dark .footer-31IekZ {
  background-color: var(--darkplus-bg);
}
.icon-3CEl7H {
  color: var(--darkplus-sec);
}
.grabber-2GQyvM {
  background-color: var(--darkplus-sec);
  border: var(--darkplus-sec);
}
.avatarUploaderIndicator-2G-aIZ {
  display: none;
}
.item-3mHhwr[aria-label="Add Friend"] {
  color: var(--darkplus-bg) !important;
  background-color: var(--darkplus-sec) !important;
}
.addInputWrapper-1BOZ3d {
  background-color: var(--darkplus-bg);
}
.colorStandard-21JIj7 {
  color: black;
}
.wrapper-1cBijl {
  background-color: var(--darkplus-bg2);
}
.addFriendInput-1Ta-rO::placeholder {
  color: var(--darkplus-sec);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
  background-color: var(--darkplus-links);
}
.header-30YxSJ {
  color: var(--darkplus-sec);
}
.description-1EvxpH {
  color: var(--darkplus-links);
}
.friendsEmpty-gs15T1 {
  background-color: var(--darkplus-bg);
}
.button-Jt-tIg {
  background-color: var(--darkplus-sec);
  color: var(--darkplus-bg);
  font-weight: bold;
}
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.wrapper-3kah-n:hover .childWrapper-1j_1ub {
  background-color: var(--darkplus-links);
  color: var(--darkplus-bg);
}
#bd-pub-button {
  background-color: var(--darkplus-sec);
  color: var(--darkplus-bg);
  font-weight: bold;
}
#bd-pub-button:hover {
  background-color: var(--darkplus-links);
  color: var(--darkplus-bg);
  font-weight: bold;
}
.iconBadge-3qSJIw {
  background-color: var(--darkplus-sec);
  color: var(--darkplus-bg);
}
.label-2wRs_g {
  color: var(--darkplus-sec);
}
.quickswitcher-pKcM9U {
  background-color: var(--darkplus-bg);
}
.input-3r5zZY {
  background-color: var(--darkplus-bg2);
}
.input-3r5zZY::placeholder {
  color: var(--darkplus-sec);
}
.header-1ZpMzy {
  color: var(--darkplus-sec);
}
.match-20K5f5 {
  color: var(--darkplus-sec);
}
.note-OhIxFa {
  color: var(--darkplus-links);
}
.miscContainer-33U-X- {
  color: var(--darkplus-links);
}
.theme-dark .wrapper-1ZcZW- {
  background-color: var(--darkplus-sec);
  color: var(--darkplus-bg);
}
.container-36u7Lw {
  background-color: var(--darkplus-bg);
  border-color: var(--darkplus-bg);
}
.container-x8Y1ix {
  background-color: var(--darkplus-sec);
}
.container-x8Y1ix:hover {
  background-color: var(--darkplus-links);
}
.colorStandard-21JIj7 {
  color: var(--darkplus-bg);
}
.title-1_TkpU {
  color: var(--darkplus-sec);
}
.subtitle-3m-md1 {
  color: var(--darkplus-links);
}
.footerTitle-3Bslxi {
  color: var(--darkplus-sec);
}
.title-1LqMUp {
  color: var(--darkplus-sec);
}
.colorHeaderSecondary-g5teka {
  color: var(--darkplus-links);
}
.formTitle-2YQyhj {
  color: var(--darkplus-sec);
}
.sampleLink-5BWNy9 {
  color: var(--darkplus-links);
}
.input-2g-os5 {
  background-color: var(--darkplus-bg2);
}
.input-2g-os5::placeholder {
  color: var(--darkplus-sec);
}
.thin-31rlnD.scrollerBase-_bVAAt {
  background-color: var(--darkplus-bg);
}
.avatar-6qzftW {
  color: var(--darkplus-sec);
}
.categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
  background-color: var(--darkplus-bg2);
}
.base-21yXnu {
  color: var(--darkplus-sec);
}
.scroller-3j5xK2 {
  background-color: var(--darkplus-bg);
}
.guildName-1sOa9v {
  color: var(--darkplus-sec);
}
.searchTitle-1qceKb {
  color: var(--darkplus-bg);
}
.searchBox-pyIJJj.searchBox-31Zv9h {
  background-color: var(--darkplus-sec);
}
.search-25t1e9 .searchBox-31Zv9h .searchIcon-3X4BYL {
  color: var(--darkplus-bg);
}
.search-25t1e9 .searchBox-31Zv9h .searchBoxInput-3h4etz::placeholder {
  color: var(--darkplus-bg);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
  background-color: var(--darkplus-links);
}
.theme-dark .uploadModal-2ie9O_ {
  background-color: var(--darkplus-bg);
}
.theme-dark .footer-VCsJQY {
  background-color: var(--darkplus-bg);
}
.size14-3fJ-ot {
  color: var(--darkplus-sec);
}
.filename-1r50Xu {
  color: var(--darkplus-sec);
}
.scrollableContainer-15eg7h {
  background-color: var(--darkplus-bg2);
}
.label-21vOgf {
  color: var(--darkplus-sec);
}
.optional-2lmRBw {
  color: var(--darkplus-links);
}
button[aria-label="Send a gift"] {
  display: none;
}

.typeWindows-2-g3UY {
  position: relative;
}
.wordmark-2u86JB {
  display: flex;
  align-items: center;
  padding: 0 6px;
  height: calc(100% + 4px);
  top: -4px;
  width: fit-content;
  font-size: 14px;
  font-weight: 600;
  font-family: "Lato";
  color: var(--darkplus-sec);
}
.wordmark-2u86JB > svg {
  display: none;
}
.wordmark-2u86JB:after {
  content: "Dark+ by Kremanit#3223";
}

.channelName-3KPsGw,
.subtitle-3PyFgf {
  color: var(--darkplus-sec);
}

.navButtonActive-1EqC5l {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.navButton-1XuvI- {
  color: var(--darkplus-sec);
}
.navButton-1XuvI-:hover {
  color: var(--darkplus-links);
}
.colorStandard-21JIj7 {
  color: var(--darkplus-sec);
}
.unicodeShortcut-3N8oDe {
  color: var(--darkplus-sec);
}
.unicodeShortcut-3N8oDe:hover {
  color: var(--darkplus-links);
}
.categoryIcon-2cYeku {
  color: var(--darkplus-sec);
}
.header-1XpmZs {
  color: var(--darkplus-sec);
}
.iconBadge-3qSJIw.participating-1NvRVd {
  background-color: var(--darkplus-sec);
}
.botTagRegular-kpctgU {
  color: var(--darkplus-sec);
  background-color: var(--darkplus-bg2);
}

.field-21XZwa > div > div > div {
  filter: blur(5px);
}
.field-21XZwa > div > div > div:hover {
  filter: blur(0);
}

.messageGroupWrapper-1jf_7C .messageGroupCozy-3v_RqN {
  background-color: var(--darkplus-bg2);
}

.premiumContainer-3GGa8Q {
  background-color: var(--darkplus-bg);
}
.scroller-29cQFV {
  background-color: var(--darkplus-bg);
}
.sectionDescription-3uMpPK {
  color: var(--darkplus-sec);
}

.lookInverted-2D7oAl.colorBrand-3pXr91 {
  background-color: var(--darkplus-bg2);
}
.marketingRefreshTier1Logo-38ksW_ {
  color: var(--darkplus-sec);
}
.marketingRefreshDescription-2_tCTt {
  color: var(--darkplus-sec);
}
.perksModalContentWrapper-2HU6uL {
  background-color: var(--darkplus-bg);
}

.resultsGroup-1BPR25 {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}

.tab-2j5AEF.selected-2LAck8 {
  color: var(--darkplus-sec);
}
.queryContainer-EKFJW- {
  background-color: var(--darkplus-bg);
}

.animatedContainer-2laTjx,
.content-2a4AW9 [style="height: 84px;"],
.bannerImage-ubW8K- {
  display: none;
}
.hasBanner-2IrYih .header-3OsQeK,
.hasBanner-2IrYih .header-3OsQeK:hover {
  color: var(--header-primary);
  box-shadow: var(--elevation-low);
}
.iconTierOne-s_oiRb,
.iconTierTwo-1JOWNK {
  color: var(--darkplus-bg);
}
.iconCaret-SHvQdG {
  color: var(--darkplus-sec);
}
.pageButton-1GMGeJ {
  color: var(--darkplus-sec);
}

.theme-dark .activeButton-LRWFC_,
.theme-dark .activeButton-LRWFC_:hover,
.theme-light .activeButton-LRWFC_,
.theme-light .activeButton-LRWFC_:hover {
  color: var(--darkplus-bg);
  background-color: var(--darkplus-sec);
}

.hasBanner-2IrYih .header-3OsQeK,
.hasBanner-2IrYih .header-3OsQeK:hover {
  background-color: var(--darkplus-bg);
}

.replyBar-1oi75v {
  background-color: var(--darkplus-bg);
}
.closeIcon-1bRhE8 {
  color: var(--darkplus-sec);
}
.colorHeaderSecondary-g5teka {
  color: var(--darkplus-bg);
}

.theme-dark .header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy {
  background-color: var(--darkplus-bg2);
}
.theme-dark .header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy {
  color: var(--darkplus-sec);
}
.messages-23can0 {
  background-color: var(--darkplus-bg2);
}
.channelHeader-DFRX8q {
  background-color: var(--darkplus-bg2);
}
.tertiary-1e-lAP {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.tertiary-1e-lAP:hover:not(.disabled-184-il) {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.tutorialIcon-25VF3Q {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.secondary-2bzKEX {
  background-color: var(--darkplus-bg2);
  color: var(--darkplus-sec);
}
.secondary-2bzKEX:hover:not(.disabled-184-il) {
  background-color: var(--darkplus-bg2);
  color: var(--darkplus-sec);
}
.messageContainer-3VTXBC {
  background-color: var(--darkplus-bg2);
}
.wrapper-22ayhK {
  background-color: var(--darkplus-bg);
}
.scroller-3X7KbA {
  background-color: var(--darkplus-bg) !important;
}
.tab-2j5AEF {
  color: var(--darkplus-sec);
}
.theme-dark .tab-2j5AEF.selected-2LAck8 {
  background-color: var(--darkplus-bg2);
}
.message-24k8JL {
  background-color: var(--darkplus-bg2);
}
.section-3G9aLW {
  color: var(--darkplus-links);
}
.colorStandard-21JIj7 {
  color: var(--darkplus-bg);
}
.backButton-2Ps-B8 {
  color: var(--darkplus-sec);
}

.skip-2hTIXL {
  color: var(--darkplus-sec);
}
.grow-q77ONN,
.sizeIcon-1-kvKI {
  color: var(--darkplus-sec);
}
.input-2g-os5 {
  color: var(--darkplus-sec);
}
.subtitle-bIoUVX {
  color: var(--darkplus-sec);
}
.size14-3fJ-ot {
  color: var(--darkplus-sec);
}
.activity-1gTu-L {
  background-color: var(--darkplus-bg);
}
.rolesList-3uZoaa {
  background-color: var(--darkplus-bg);
}
.base-21yXnu.muted-eZM05q {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.body-2wLx-E {
  background-color: var(--darkplus-bg);
}
.theme-dark .root-g14mjS {
  background-color: var(--darkplus-bg);
}
.size12-oc4dx4 {
  color: var(--darkplus-sec);
}
.customStatus-1UAQAK {
  color: var(--darkplus-sec);
  width: 120px;
}
.icons-2dXYop {
  color: var(--darkplus-sec);
}
.selectedIcon-19TbzU {
  color: var(--darkplus-sec);
}
.card-1SdQ2- {
  background-color: var(--darkplus-bg2);
}
.radioBar-3w9XY- {
  background-color: var(--darkplus-bg2);
}
.channelInfo-2wVmf0 {
  color: var(--darkplus-sec);
}
.channelIcon-1su68_ {
  color: var(--darkplus-sec);
}
.radioIconForeground-2BMavi {
  color: var(--darkplus-sec);
}
.selectedIcon-1JOfpo {
  color: var(--darkplus-sec);
}
.ellipsisText-jQS2Ek {
  color: var(--darkplus-sec);
}
.selectorButtonSelected-3Z0WNU {
  background-color: var(--darkplus-bg);
}
.selectorButton-3sW6Qm:not(.selectorButtonPremiumRequired-2pGGEj):hover {
  background-color: var(--darkplus-bg);
}

.textContent-TsKzji {
  color: var(--darkplus-bg);
}
.cozy-3hKWhq.wrapper-15CKyy {
  background-color: var(--darkplus-bg);
}
.content-3spvdd {
  background-color: transparent;
  color: var(--darkplus-sec);
}

.acronym-2zrAHN {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-sec);
}
.expandedFolderBackground-1cujaW {
  background-color: var(--darkplus-bg2);
}
.contentWrapper-3vHNP2 {
  background-color: var(--darkplus-bg);
}
.header-1ULbqO {
  background-color: var(--darkplus-bg);
}
.titlePrimary-23rNQQ,
.titleSecondary-3hcpuB {
  color: var(--darkplus-sec);
}
.inspector-2A2Chb {
  background-color: var(--darkplus-bg);
}
.icon-3jQD8H {
  color: var(--darkplus-sec);
}
.bodyInnerWrapper-2bQs1k {
  background-color: var(--darkplus-bg);
}
.footer-1Dc_h6 {
  background-color: var(--darkplus-bg);
}
.headerTopWithCustomStatus-1aNSNd {
  background-color: var(--darkplus-bg);
}
.headerTop-3GPUSF {
  background-color: var(--darkplus-bg);
}
.memberCountContainer-30IqIo {
  color: var(--darkplus-sec);
}
.icon-3CDcPB {
  color: var(--darkplus-sec);
}
.input-2m5SfJ::placeholder {
  color: var(--darkplus-sec);
}
.emptyRoles-35rHsg {
  color: var(--darkplus-sec);
}
.emptyRolesText-30nyzO {
  color: var(--darkplus-sec);
}
.icon-2DGsye {
  color: var(--darkplus-sec);
}
.label-2Pe5f1 {
  color: var(--darkplus-sec);
}
.arrow-2v2Yl2 {
  color: var(--darkplus-sec);
}
.icon-1GbPE7 {
  color: var(--darkplus-sec);
}

.tierLock-1eabw6 {
  color: var(--darkplus-sec);
}
.tierRequirement-7q3_7- {
  color: var(--darkplus-sec);
}
.size16-rrJ6ag {
  color: var(--darkplus-sec);
}
.theme-dark .tierBody-1d3UiS {
  background-color: var(--darkplus-bg2);
}
.wrapper-24fR1R {
  background-color: var(--darkplus-bg2);
}

.emptyTierImage-2bJjxU {
  color: var(--darkplus-sec);
}

.emptyTierImage-2bJjxU,
.unlockTierCtaHeading-18Nq1u {
  color: var(--darkplus-sec);
}

.css-19bqh2r {
  color: var(--darkplus-sec);
}
.theme-dark .option-2KkUJO:after {
  background: transparent;
}

.textContent-TsKzji {
  color: var(--darkplus-bg);
}

.categoryItemDefaultCategorySelected-2YeRUu .categoryIcon-2cYeku,
.categoryItemDefaultCategorySelected-2YeRUu:hover .categoryIcon-2cYeku,
.categoryItemDefaultCategory-3haEDq:hover .categoryIcon-2cYeku {
  color: var(--darkplus-sec);
}

.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
  border-color: var(--darkplus-sec);
  color: var(--darkplus-sec);
  border-radius: 25px;
}

.css-4h5swf-singleValue {
  color: var(--darkplus-sec);
}

.theme-dark .message-G6O-Wv {
  background-color: var(--darkplus-bg2);
}

.keybindShortcut-3zF1P9 span {
  background-color: var(--darkplus-sec);
  border: var(--darkplus-sec);
}

.bottomInformationTextContainer-3xmddX,
.stickerResults-cD_yeI {
  background-color: var(--darkplus-bg2);
}

.avatar-3QF_VA {
  margin-left: 200px;
}

.badgeList-2aoHPw {
  margin-left: -150px;
}

.theme-dark .searchOption-351dTI .filter-5YbOzJ,
.theme-dark .searchOption-351dTI .answer-2fBfuP,
.resultsGroup-1BPR25 .header-3A13BX {
  color: var(--darkplus-sec);
}

.text-PdAsFQ {
  color: var(--darkplus-bg);
}

.overflowMenuIcon-2Bjb5_ {
  color: var(--darkplus-sec);
}

.username-3JLfHz,
.discriminator-2m-MqL,
.headerTagDiscriminatorNoNickname-dfcvHa {
  color: var(--darkplus-sec);
}

.peopleList-2VBrVI,
.container-ZMc96U.themed-Hp1KC_,
.peopleColumn-1wMU14,
.scroller-WSmht3,
.searchBar-3TnChZ,
.activityPanel-9icbyU,
.container-YkUktl,
.scroller-kQBbkU {
  background-color: var(--darkplus-bg);
}

.theme-dark .children-3xh0VB:after {
  background: var(--darkplus-bg);
}

.icon-2xnN2Y,
.title-17SveM,
.tabBar-ra-EuL .item-3mHhwr,
.brand-3g5E0C.item-3XjbnG:hover,
.themed-2-lozF.item-3XjbnG:hover,
.clickable-ZD7xvu .icon-2xnN2Y,
.clickable-ZD7xvu:hover .icon-2xnN2Y:hover,
.title-x4dI75,
.linkButtonIcon-7rsZcu,
.name-3Vmqxm,
.username-Qpc78p,
.text-MPIeXO,
.discriminator-WV5K5s,
.button-12Fmur,
.button-12Fmur.enabled-9OeuTA:hover,
.title-338goq,
.hovered-20u3oh,
.customStatus-1UAQAK {
  color: var(--darkplus-sec);
}

.input-2m5SfJ,
.medium-2NClDM.iconLayout-3Bjizv {
  background-color: var(--darkplus-sec);
  border-radius: 10px;
}

.input-2m5SfJ::placeholder {
  color: var(--darkplus-bg);
}

.icon-3CDcPB.visible-CwPfRb {
  color: var(--darkplus-bg);
}

.actionButton-3-B2x- {
  color: var(--darkplus-sec);
  background-color: var(--darkplus-bg);
}

.actionButton-3-B2x-:hover {
  color: var(--darkplus-bg);
  background-color: var(--darkplus-sec);
}

.selected-1-Z6gm .layout-1qmrhw {
  background-color: var(--darkplus-bg2);
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
  background-color: var(--darkplus-sec);
  color: var(--darkplus-bg);
  border-radius: 10px;
}

.members-3WRCEx,
.members-3WRCEx > div {
  background-color: var(--darkplus-bg);
}

.button-2fCJ0o {
  color: var(--darkplus-sec);
}

.container-2o3qEW {
  background-color: var(--darkplus-bg);
}

.attachButtonPlus-3IYelE {
  fill: var(--darkplus-sec);
}

.menu-1QACrS, .colorDefault-CDqZdO { 
  border-radius: 15px; 
}

::-webkit-scrollbar-thumb {
  background-color: var(--darkplus-sec) !important;
}
::selection {
  background-color: var(--darkplus-bg);
  color: var(--darkplus-links);
}
